<div class="flex justify-between p-9">
      <%= image_tag "logo.png", class: "h-6" %>
      <%= link_to "Log in", root_path, class: "bg-yellow-400 px-4 py-2 rounded-md text-white" %>
  </div>
</div>
