<div class = "container-confirmation-nil p-10 justify-center h-screen w-screen">
  <div class = "grid justify-items-center text-center font-poppins">
    <%= image_tag "nil.png", class: "mb-8" %>
    <h1 class = "text-blue-600 text-[35px] leading-9 m-3">Unfortunately there is no match at this moment</h1>
    <hr class="my-3 h-px bg-gray-200 border-0">
    <h3 class = "text-blue-600 text-[15px] leading-6 m-3">Our database are updated <br>daily, please check again <br> in the future</h3>
    <h4 class = "bg-blue-600 text-white px-7 py-3 rounded-lg mt-8 mb-4">Submit another photo</h4>
    <h4 class = "text-blue-600 text-[13px] underline">Find other resources</h4>
  </div>
</div>
