<div class="container">
  <div class = "top-container relative pt-20 pb-20 grid justify-items-center">
    <h1 class="absolute top-3 text-blue-600 text-[40px] leading-10 text-center z-10 font-poppins">Find <br>a missing <br>person</h1>
    <%= image_tag "home-bg.png", class: "z-0 relative bottom-0" %>

    <div class= "button-container flex justify-center bottom-20 pt-8">
        <%= render "widget"%>
    </div>

  </div>

  <div class= "flex justify-center pl-4 pr-4">
      See photo guidelines
  </div>

  <div class="login-container flex flex-col justify-center bg-blue-600 p-10 mb-10  mt-10">
    <h2 class = "text-white text-[28px] leading-8 text-center z-10 font-poppins">Are you a <br>healthcare <br>professional?</h2>
    <button class="bg-yellow-500 text-[15px] text-white py-2 px-4 rounded z-10 ml-20 mr-20 mt-5">Admin</button>
  </div>
  <div class="about-container flex flex-col m-10">
    <div class="about-descriptions mb-5 mt-5">
      <h2 class ="text-blue-600 text-[30px] leading-8 text-left z-10 mb-4 font-poppins">What is Find?</h2>
      <p class = "leading-6">We help you locate missing loved ones using Facial Recognition software. Upload a photo to begin.</p>
    </div>
    <hr class="my-3 h-px bg-gray-200 border-0 dark:bg-gray-700">
    <div class="about-descriptions mb-5 mt-5">
      <h2 class ="text-blue-600 text-[30px] leading-8 text-left z-10 mb-4 font-poppins">How Does it Work?</h2>
      <p class = "leading-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
    <hr class="my-3 h-px bg-gray-200 border-0 dark:bg-gray-700">
    <div class="about-descriptions mb-5 mt-5">
      <h2 class ="text-blue-600 text-[30px] leading-8 text-left z-10 mb-4 font-poppins">Photo Guideliness</h2>
      <p class = "leading-6">If possible, your photo should clear and in focus, contain no other objects or people
      and be taken against a plain light-coloured background.</p>
    </div>
  </div>
  <div class="resources-container flex flex-col bg-blue-100">
    <div class="m-10">
      <h2 class ="text-blue-600 text-[30px] leading-8 text-left z-10 mb-4 font-poppins">Other <br>resources<h2>
      <h3 class="bg-blue-600 text-[15px] text-white p-5 mb-3 rounded-md">Lorem ipsum</h3>
      <h3 class="bg-blue-600 text-[15px] text-white p-5 mb-3 rounded-md">Lorem ipsum</h3>
      <h3 class="bg-blue-600 text-[15px] text-white p-5 mb-3 rounded-md">Lorem ipsum</h3>
      <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
  </div>
</div>

